<h2>New Question</h2>
<img src="https://www.drinkpreneur.com/wp-content/uploads/2017/04/drinkpreneur_2016-01-26-1453821995-8643361-beermain.jpg" class ="beer-man">
<div class="new-question-form">
  <form id="new-question" action="/questions/new" method="post">
    <input type="text" name="title" placeholder="Title"><br>
    <input type="text" name="body" placeholder="Question goes here"><br>
    <input type="submit" value="Submit">
  </form>
</div>

