<h2>New Question</h2>
<div>
  <form action="" method="post">
    <input type="text" name="title" placeholder="Title"><br>
    <input type="text" name="body" placeholder="Question goes here"><br>
    <input type="submit" value="Submit">
  </form>
</div>

