
body {
  display: flex;
  justify-content: center;
  margin: 0;
  /*float: left;*/
  background-color: #EDA503;
}

.beer-man {
  height: 300px;
  display: inline-block;
  vertical-align: middle;

/*  position: absolute;
  left: 50px;
  top: 50px;
  z-index: -1;*/
}
.new-question-form {
  padding: 20px;
  display: inline-block;
  vertical-align: top;
}

.container {
  width: 860px;
  margin: 20px;
  background-color: white;
  padding: 20px 80px;
}

h1 a{
  font-family: 'Permanent Marker', cursive;
  text-decoration: none;
  font-size: 2em;
  display: inline-block;
}
h2 {
  font-family: 'Ubuntu', sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

nav li {
  margin: 5px;
}

.button {
  background:none!important;
  border:none;
  padding:0!important;

  /*optional*/
  font-family:arial,sans-serif; /*input has OS specific font-family*/
  color:#069;
  text-decoration:underline;
  cursor:pointer;
}


ul {
  list-style-type: none;
  padding: 0;
}

.index-question a {
  text-decoration: none;
  font-size: 1.3em;
  font-family: 'Ubuntu', sans-serif;
}

li.index-question {
  padding: 5px 0;
}
p.question-details {
  font-size: 0.9em;
  color: #7A7B7D;
}
p.comment-details {
  font-size: 0.9em;
  color: #7A7B7D;
}

a:link {
    color: #000;
}

a:visited {
    color: #000;
}

a:hover {
    color: #7D5702;
}

a:active {
    color: #7D5702;
}

div.comment-list {
  border-left: solid .3px #7A7B7D;
  margin-left: 80px;
  padding-left: 20px;
}

li.comment {
  padding-bottom: 20px;
  font-size: .9em;
}

.new-comment-form form {
    width: 100%;
    display: block;
}

.new-comment-form textarea {
    width: 60%;
    padding: 10px ;
}

.answer.vote-buttons {
  padding: 0;
  margin: 0;
  display: inline-block;
}

form.answer-vote  {
  padding: 0;
  margin: 0;

}

form.up-vote button {
  background-color: transparent;
  color: green;
  border: none;
  outline: 0;
}

form.down-vote button {
  background-color: transparent;
  color: red;
  border: none;
  outline: 0;
}

#question.vote-buttons {
  /*display: inline-block;*/
}

.answer.vote-buttons {
  display: inline-block;
}

.please {
  border: 1px solid #EDA503;
  border-radius: 16px;
  padding: 40px;
  margin: 20px;
}

#border {
  border: 2px solid black;
  border-radius: 16px;
  padding: 40px;
  margin: 20px;
}

#please h2 {
  width: 70%;
  display: inline-block;
}

.new-comment-form input {
  display: inline-block;
  width: 200px;
  background-color: #000;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  padding: 10px;
  margin: 20px 0;
  display: block;
  outline: 0;
  border:none;
}

#new-answer textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
}
#new-answer input {
  display: inline-block;
  width: 100%;
  background-color: #000;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  padding: 10px;
  margin: 20px 0;
  display: block;
  outline: 0;
  border:none;

}

p.answer {
  width: 70%;
  display: inline-block;
  font-size: 1.1em;
}

.best-answer{
  color: #EDA503;
}

