<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <div class="container">
    <nav>
      <h1><a href="/">Beer Overflow</a></h1>
      <ul>
        <%= erb :'_logout_button' %>
        <% if logged_in? %>
        <li>Hello, <%= current_user.username %></li>
        <li><a href="/questions/new">New Question</a></li>
        <li><form method="POST" action="/sessions">
              <input type="hidden" name="_method" value="DELETE" />
              <input type="submit" class="button" value="Logout" />
            </form>
        </li>
      </ul>
        <% else %>
      <ul class="logged-out">
        <li><a id="login-button" href="/sessions/new">Login</a></li>
        <li><a href="/users/new">Sign Up</a></li>
        <li><%= erb :'session/_login_form' %></li>
        <% end %>
      </ul>
    </nav>
    <div class="main">
    <%= yield %>
    </div>
  </div>
</body>
</html>
